@font-face {
    font-family: SourceSansPro;
    src: url("SourceSansPro-Regular.ttf");

}

*{
  margin: 0;
  padding: 0;
  font-family: SourceSansPro;
}
.logo1 img{
  float: left;
  width: 100px;
  height: auto;
}
#main{
  background-color:rgba(39, 187, 236, 1);
}
ul{
  float: right;
  list-style-type: none;
}
ul li{
  display: inline-block;
}
ul li a {

  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid transparent;
  transition: 0.6s ease;

}
ul li a:hover{
  background-color: #fff;
  color:#000;
}
ul li.active a{
  background-color: #fff;
  color:#000;
}
.submemu1{
  display: none;
}
.main ul li:hover .submemu1{
  display: block;
  position: absolute;
  margin-top: 1px;
  margin-left: 0px;
}
.main ul li .submemu1 ul li{
  display: block;
  margin: 5px;
  width: 140px;
  border-bottom: 1px dotted #fff ;
  border-radius: 0;
}
.submemu1 ul li a{
  display: block;
  width: 100px;
  height: 10px;
  }
.main ul li .submemu1 ul li a:hover{
  background-color: #fff;
  color:#000;
  }
.fa-angle-right{
float:right;
}
.submenu2{
display: none;
}
.hover-me:hover .submenu2{
  position: absolute;
  display: block;
  margin-top: -40px;
  margin-left: 140px;
}
.main{
  max-width: 1200px;
  margin: auto;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.container{
font-family: 'Roboto Condensed', sans-serif;
  margin-top: -230px;
  padding-top: 0px;
    height: 50vh;
}

.our-team{
padding: 30px 0 40px;
background: #f7f5ec;
text-align: center;
overflow: hidden;
position: relative;
  margin-top: 220px;

}
.col-md-3{
display: inline-block;
width: 233px;
height: 160px;
margin-right: 15px;
margin-left: 15px;
position:left;
}

.our-team .pic{
display: inline-block;
width: 130px;
height: 130px;
margin-bottom: 50px;
z-index: 1;
position: relative;
}
.our-team .pic:before{
content: "";
width: 100%;
height: 0;
border-radius: 50%;
background:rgba(215, 103, 4, 1);
position: absolute;
bottom: 135%;
right: 0;
left: 0;
 opacity: 0.9;
transform: scale(3);
transition: all 0.3s linear 0s;
}
.our-team:hover .pic:before{ height: 100%; }
.our-team .pic:after{
content: "";
width: 100%;
height: 100%;
border-radius: 50%;
background:rgba(215, 103, 4, 1);
position: absolute;
top: 0;
left: 0;
z-index: -1;
}
.our-team .pic img{
width: 100%;
height: auto;
border-radius: 50%;
transform: scale(1);
transition: all 0.9s ease 0s;
}
.our-team:hover .pic img{
box-shadow: 0 0 0 14px #f7f5ec;
transform: scale(0.7);

}
.our-team .team-content{ margin-bottom: 30px; }
.our-team .title{
font-size: 16px;
font-weight: 700;
color: #4e5052;
text-transform: capitalize;
margin-bottom: 5px;
}
.our-team .post{
display: block;
font-size: 15px;
color: #4e5052;
text-transform:capitalize;
}
.our-team .social{
width: 100%;
padding: 0;
margin: 0;
background: rgba(215, 103, 4, 1);
position: absolute;
bottom: -100px;
left: 0;
transition: all 0.5s ease 0s;
}
.our-team:hover .social{ bottom: 0; }
.our-team .social li{ display: inline-block; }
.our-team .social li a{
display: block;
padding: 10px;
font-size: 17px;
color: #fff;
transition: all 0.3s ease 0s;
text-decoration: none;
}
.our-team .social li a:hover{
color: rgba(215, 103, 4, 1);
background: #f7f5ec;
}
